<div class="language-selector flex flex-col items-center space-y-6">
	<!-- Selettori di lingua -->
	<div class="flex justify-center space-x-6">
		<button ng-repeat="lang in vm.availableLanguages" style="zoom:1.3;"
				ng-click="vm.selectLanguage(lang)"
				class="language-button w-28 h-28 flex items-center justify-center rounded-full border-2 border-gray-300 hover:border-blue-500 transition ease-in-out duration-200">
			<img ng-src="assets/images/flags/{{ lang.code }}.svg"
				 alt="{{ lang.name }}"
				 title="{{ lang.name }}"
				 class="w-24 h-24 object-contain">
		</button>
	</div>
	<div class="p-4">
		<img src="assets/images/flags/deaf.svg" alt="Audiolesi" class="w-20 h-20">
	</div>
	<!-- Switch per modalità Solo Testo con icona audiolesi utilizzando Flowbite -->
	<div class="text-only-switch flex items-center space-x-4 mt-8">
		<label class="inline-flex items-center cursor-pointer" style="zoom:2;">
			<input type="checkbox" value="" class="sr-only peer">
			<div class="relative w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
			
		</label>
		
	</div>
</div>
