<div class="content-viewer waiting-container" ng-if="!error">

	<div class="language-selector" ng-if="!language_selected">
		<language-selector
				available-languages="content.metadata"
				on-select-language="selectLanguage(metadata, filterTextOnly)"
				filter-text-only="filterTextOnly">
		</language-selector>
	</div>
	
	
	<div   ng-show="!selContent.text_only" ng-cloak>
		<div ng-show="selContent.content_type === 'audio'" >
			<audio-player content="selContent"></audio-player>
		</div>
		<div ng-show="selContent.content_type === 'video'" >
			<video-player content="selContent" ></video-player>
		</div>
		<div ng-show="selContent.content_type === 'audio_call'" >
			<phone-player content="selContent" call-state="selContent.call_state" caller-avatar="avatarImgSrc" caller-background="bgImgSrc" ></phone-player>
		</div>
		<div ng-show="selContent.content_type === 'video_call'" >
			<phone-player content="selContent" ></phone-player>
		</div>
		
	</div>
	<div ng-if="selContent.text_only">
	<html-content-viewer content="selContent" content-id="{{ contentid }}"></html-content-viewer>
    </div>
</div>