<!-- Stato Waiting (Attesa di chiamata o selezione lingua) -->

<div ng-show="vm.text_only" >
    <contviewer content="vm.content"></contviewer>
</div>

<div ng-show="!vm.text_only">
	<div class="waiting-container " ng-if="vm.callState === 'waiting'">
	<div class="language-selector">
		<language-selector available-languages="vm.content.metadata"
						   on-select-language="vm.selectLanguage(language)"></language-selector>
	</div>
</div>
	
	<!-- UI generica per la gestione delle chiamate, visibile per stati incoming e inCall -->
<div class="full-screen" ng-if="vm.callState === 'incoming' || vm.callState === 'inCall'"
	 ng-style="{'background-image': 'url(' + vm.backgroundUrl + ')'}">
	
	<div class="phone-top" ng-show="vm.callState !== 'ended'">
		<div class="caller-info">
			<div class="text-3xl font-extralight">{{ vm.caller.name }}</div>
			<div class="text-2xl font-extralight">{{ vm.caller.subtitle }}</div>
		</div>
		<div class="caller-avatar">
			<img alt="Avatar del Chiamante" ng-src="{{ vm.caller.avatar }}">
		</div>
		<div class="call-timer flex justify-center items-center h-16">
			<!-- Timer della chiamata in corso -->
			<div class="text-3xl " ng-show="vm.callDuration > 0">{{ vm.formatCallDuration() }}</div>
			<!-- Spazio riservato quando la durata non è visibile -->
			<div class="opacity-0 text-3xl font-light font-mono" ng-show="vm.callDuration === 0">00:00:00</div>
		</div>
	</div>
	
	<div class="call-buttons" ng-show="vm.callState === 'incoming' || vm.callState === 'inCall'">
		<i class="Phone is-animating accept" drag-direction="right" hm-drag ng-show="vm.callState === 'incoming'"
		   on-drag-end="vm.answerCall()"></i>
		<i class="Phone accept" drag-direction="right" hm-drag ng-show="vm.callState === 'inCall'"
		   on-drag-end="vm.answerCall()"></i>
		<i class="Phone decline" drag-direction="left"
		   hm-drag ng-class="{'is-animating':vm.callState === 'inCall'}" ng-show="vm.callState === 'inCall'||vm.callState === 'incoming'"
		   on-drag-end="vm.declineCall()"></i>
	</div>
</div>
	
	<!-- Stato Ended (Chiamata terminata) -->
<div class="ended-container" ng-if="vm.callState === 'ended'">
	<div class="dynamic-content">
		<h2>{{ vm.dynamicContent }}</h2>
		
		<!-- Pulsante per riascoltare l'audio della chiamata -->
		<button class="replay-button" ng-click="vm.answerCall()">Riascolta la Chiamata</button>
		
		<!-- Link ad articoli correlati -->
		<div class="related-articles">
			<h3>Articoli Correlati</h3>
			<ul>
				<li ng-repeat="article in vm.relatedArticles">
					<a href="{{ article.link }}" target="_blank">{{ article.title }}</a>
				</li>
			</ul>
		</div>
		
		<!-- Riquadri per sponsor o pubblicità -->
		<div class="sponsors">
			<h3>Sponsor</h3>
			<div class="sponsor-item" ng-repeat="sponsor in vm.sponsorData">
				<a href="{{ sponsor.link }}" target="_blank">
					<img alt="{{ sponsor.name }}" ng-src="{{ sponsor.imageUrl }}">
					<p>{{ sponsor.name }}</p>
				</a>
			</div>
		</div>
	</div>
</div>
</div>


